{% extends "base.html" %}
{% block content %}

<script id="admin-package-template" type="text/x-jquery-tmpl">
        <td class="admin-packages-remove"><a><img src="{{ static }}/trash.gif"/></a></td>
        <td class="admin-packages-name">${pkg.get('name')}</td>
        <td>${pkg.get('creation_date').getDay()}, 
            ${pkg.get('creation_date').getMonthName()} 
            ${pkg.get('creation_date').getFullYear()}
        </td>
</script>
<script id="admin-package-remove-resources-modal" type="text/x-jquery-tmpl">
    <li>${res}</li>
</script>
<script id="admin-package-remove-modal-template" type="text/x-jquery-tmpl">
    <div id="admin-modal" class="modal hide">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>Removing Package</h3>
        </div> <div class="modal-body">
            <p>Are you shure you want to remove this packages with all of its resources? </p>
        </div>
        <div class="modal-footer">
            <a href="#" id="admin-package-remove-remove" class="btn primary">Remove</a>
            <a href="#" id="admin-package-remove-cancel" class="btn secondary">Cancel</a>
        </div>
    </div>
</script>
<script id="admin-resource-template" type="text/x-jquery-tmpl">
        <td><a data-controls-modal="admin-modal" href="#"><img src="{{ static }}/trash.gif"/></a></td>
        <td>${resource.get('name')}</td>
        <td>${resource.get('type')}</td>
        <td>${resource.get('package')}</td>
        <td>${resource.get('last_modified').getDay()}, 
            ${resource.get('last_modified').getMonthName()} 
            ${resource.get('last_modified').getFullYear()}
        </td>
        <td>${resource.get('creation_date').getDay()}, 
            ${resource.get('creation_date').getMonthName()} 
            ${resource.get('creation_date').getFullYear()}
        </td>
</script>
<div class="topbar-wrapper"><div class="topbar">
                  <div class="fill">
                    <div class="container">
                      <ul id="admin-menu">
                          <li id="admin-menu-index" class="active"><a href="#">Admin</a></li>
                          <li id="admin-menu-packages" ><a href="#packages">Packages</a></li>
                          <li id="admin-menu-resources" ><a href="#resources">Resources</a></li>
                          <li id="admin-menu-profile" ><a href="#profile">Profile</a></li>
                      </ul>
                      <ul class="nav secondary-nav">
                          <li><a href="#admin-menu-login">Login</a></li>
                      </ul>
                    </div>
                  </div><!-- /fill -->
            </div></div>
            
            <div id="admin-admin" class="hidden">
                <h1>Admin</h1>
                <div class="row">
                    <div class="span7 columns">
                        <table>
                            <thead>
                                <tr>
                                    <th>Open Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#packages">Packages</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#resources">Resources</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">CKAN Repositories</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th>Other</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#profile">Profile</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="span5 columns offset1">
                        <table>
                            <thead>
                                <tr>
                                    <th>Recent Changes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Added resource: <a href="#">Dag 1</a></td>
                                </tr>
                                <tr>
                                    <td>Added resource: <a href="#">Dag 2</a></td>
                                </tr>
                                <tr>
                                    <td>Added resource: <a href="#">Dag 3</a></td>
                                </tr>
                                <tr>
                                    <td>Added resource: <a href="#">Dag 4</a></td>
                                </tr>
                                <tr>
                                    <td>Added resource: <a href="#">Dag 5</a></td>
                                </tr>
                                <tr>
                                    <td>Added resource: <a href="#">Dag 6</a></td>
                                </tr>
                                <tr>
                                    <td>Added resource: <a href="#">Dag 7</a></td>
                                </tr>
                                <tr>
                                    <td>Added resource: <a href="#">Dag 8</a></td>
                                </tr>
                                <tr>
                                    <td>Added resource: <a href="#">Dag 9</a></td>
                                </tr>
                                <tr>
                                    <td>Added resource: <a href="#">Dag 10</a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div id="admin-package" class="hidden">
                <h1>Packages</h1>
                <table class="zebra-striped">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Name</th>
                            <th>Creation Date</th>
                        </tr>
                    </thead>
                    <tbody id="admin-packages">

                    </tbody>
                </table>

                <form class="form-stacked">
                    <fieldset>
                        <legend>Add Package</legend>
                        <div class="clearfix">
                            <label>Package name</label>
                            <div class="input">
                                <input id="admin-package-name" type="text" class="xlarge">
                            </div>
                        </div>
                        <div class="actions">
                            <a id="admin-package-save" type="submit" class="btn primary">Save</a>&nbsp;
                            <a type="reset" class="btn">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div id="admin-package-details" class="hidden">
                <h1>Package details</h1>
            </div>

            <div id="admin-resource" class="hidden">
                <h1>Resources</h1>
                <table class="zebra-striped">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Package</th>
                            <th>Last Modified</th>
                            <th>Creation Date</th>
                        </tr>
                    </thead>
                    <tbody id="admin-resources">
                        
                    </tbody>
                </table>

                <form class="form-stacked">
                    <fieldset>
                        <legend>Add resource</legend>
                        <div class="clearfix">
                            <label>Resource name</label>
                            <div class="input">
                                <input id="admin-resource-name" type="text" class="xlarge">
                            </div>
                        </div>
                        <div id="admin-upload" class="clearfix">
                            <label>Your file</label>
                            <div class="input">
                                <span class="file-input-hack">
                                    <button class="btn large" id="admin-upload-computer">
                                        <img src="{{ static }}/computer16.png"/> Computer
                                    </button>
                                    <input type="file" class="btn" id="admin-upload-file">
                                    <button class="btn large" id="admin-upload-link">
                                        <img src="{{ static }}/link16.png"/> Link
                                    </button>
                                </span>
                                <span class="help-block">
                                    <strong>Note:</strong> or drap and drop a file onto this page.
                                </span>
                            </div>
                        </div>
                        <div id="admin-file" class="clearfix hidden">
                            <label>Your file</label>
                            <div class="input-prepend">
                                <span class="add-on">
                                    <a id="admin-remove-upload" class="delete_input">
                                        <img src="{{ static }}/trash.gif"/>
                                    </a>
                                </span>
                                <input class="xlarge disabled" id="admin-resource-file" name="disabledInput" size="30" type="text" placeholder="" disabled="">
                            </div>
                        </div>
                        <div class="clearfix">
                            <label>Columns</label>
                            <div class="input">
                                <input id="admin-resource-columns" type="text" class="xlarge"></input>
                            </div>
                            <span class="help-block">
                                <strong>Note:</strong> use ';' to seperate the columns.</span>
                        </div>
                        <div class="clearfix">
                            <label>Primary Key</label>
                            <div class="input">
                                <input id="admin-resource-pk" type="text" class="xlarge"></input>
                            </div>
                        </div>
                        <div class="clearfix">
                            <label>Package</label>
                            <div class="input">
                                <select id="admin-resource-pkg" class="xlarge"></select>
                            </div>
                        </div>
                        <div class="clearfix">
                            <label>Documentation</label>
                            <div class="input">
                                <textarea id="admin-resource-doc" class="xxlarge" rows="10"></textarea>
                            </div>
                        </div>
                        <!--<div class="clearfix">-->
                            <!--<label>Publish to CKAN</label>-->
                            <!--<div class="input">-->
                                <!--<input type="checkbox" class="xlarge">-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="actions">
                            <button id="admin-resource-save" type="submit" class="btn primary">Save</button>&nbsp;
                            <button type="reset" class="btn">Cancel</button>
                        </div>
                    </form>
                </div>

            <div id="admin-resource-details" class="hidden">
                <h1>Resource details</h1>
            </div>
            
            <div id="admin-profile" class="hidden">
                <h1>Profile</h1>
                <img src="{{ static }}/avatar.png"/>
                <table class="zebra-stribed">
                    <thead>
                        <tr>
                            <th>Setting</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Debug</td>
                            <td>{{ config.debug }}</td>
                        </tr>
                        <tr>
                            <td>Logging enabled</td>
                            <td>{{ config.enable }}</td>
                        </tr>
                        <tr>
                            <td>Logging path</td>
                            <td>{{ config.path }}</td>
                        </tr>
                        <tr>
                            <td>Loggin level</td>
                            <td>{{ config.level }}</td>
                        </tr>
                        <tr>
                            <td>Templates path</td>
                            <td>{{ config['templates.path'] }}</td>
                        </tr>
                        <tr>
                            <td>Template engine</td>
                            <td>{{ config.view }}</td>
                        </tr>
                        <tr>
                            <td>Hostname</td>
                            <td>{{ config.hostname }}</td>
                        </tr>
                        <tr>
                            <td>Subdir</td>
                            <td>{{ config.subdir }}</td>
                        </tr>
                        <tr>
                            <td>Static</td>
                            <td>{{ config.static }}</td>
                        </tr>
                        <tr>
                            <td>The Data-Tank Url</td>
                            <td>{{ config['tdt-url'] }}</td>
                        </tr>
                        <tr>
                            <td>Database DSN</td>
                            <td>{{ config['database.dsn'] }}</td>
                        </tr>
                        <tr>
                            <td>Database user</td>
                            <td>{{ config['database.user'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="admin-login" class="hidden">
                <form>
                    <fieldset>
                        <legend>Login</legend>
                        <div class="clearfix">
                            <label>Name: </label>
                            <div class="input">
                                <input id="admin-resource-name" type="text" class="xlarge">
                            </div>
                        </div>
                        <div class="clearfix">
                            <label>Password: </label>
                            <div class="input">
                                <input id="admin-resource-name" type="password" class="xlarge">
                            </div>
                        </div>
                        <div class="input">
                                <button type="submit" class="btn primary">Login</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
{% endblock %}

{% block appendix %}

    <div id="admin-package-remove-modal" class="modal hide">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>Removing Package</h3>
        </div> <div class="modal-body">
            <p>Are you shure you want to remove this packages with all of its resources? </p>
        </div>
        <div class="modal-footer">
            <a href="" id="admin-package-remove-remove" class="btn primary">Remove</a>
            <a href="" id="admin-package-remove-cancel" class="btn secondary">Cancel</a>
        </div>
    </div>

    <div id="admin-resource-link" class="modal hidden">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>Link</h3>
        </div>
        <div class="modal-body">
            <input id="admin-resource-url" type="text" class="xlarge" placeholder="http://">
        </div>
        <div class="modal-footer">
            <button id="admin-resource-link-add" class="btn primary">Add</button>
            <button id="admin-resource-link-cancel" class="btn secondary">Cancel</button>
        </div>
    </div>

    <div id="admin-resource-drag" class="drag-backdrop hidden">
        <div class="texttt"><h1>Upload</h1></div>
    </div>

{% endblock %}
