{% extends "base.html" %}

{% block js_include %}
<!--[if lte IE 8]><script type="text/javascript" src="{{ static }}/flot/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" src="{{ static }}/flot/jquery.flot.js"></script>
<script type="text/javascript" src="{{ static }}/plot.js"></script>
{% endblock %}

{% block content %}
<h1>Statistics</h1>
<div id="stats-placeholder"></div>
<form class="form-stacked">
    <fieldset>
        <legend>Statistics parameters</legend>
        <label>Module: </label>
        <select id="stats-module">
            <option selected="selected">-- Select a module --</option>
        </select>
        <label>Resource: </label>
        <select id="stats-resource" disabled="disabled">
            <option selected="selected">-- Select a resource --</option>
        </select>
        <div class="actions">
            <button id="stats-submit" class="btn primary" disabled="disabled">Submit</button>
            <button class="btn">Clear</button>
        </div>
    </fieldset>
</form>
{% endblock %}
